@model CarPartsPatron.Models.Part
@*@model CarPartsPatron.Models.ViewModels.PartCreateViewModel*@

@{
    ViewData["Title"] = "Create";
}

<h1>Add a Part</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <input asp-for="CarId" class="form-control" />
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
                @*<div class="form-group">
                    <label asp-for="Part.CarId" class="control-label"></label>
                    <select asp-for="Part.CarId" class="form-control">
                        @foreach (var car in Model.CarOptions)
                        {
                            <option value="@car.Id">@car.Model</option>
                        }
                    </select>
                    <span asp-validation-for="Part.CarId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartType" class="control-label"></label>
                <input asp-for="PartType" class="form-control" />
                <span asp-validation-for="PartType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label"></label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateInstalled" class="control-label"></label>
                <input asp-for="DateInstalled" class="form-control" />
                <span asp-validation-for="DateInstalled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
