@*@model CarPartsPatron.Models.PartSetup*@
@model CarPartsPatron.Models.ViewModels.PartSetupCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add a Setup</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartSetup.PartId" class="control-label"></label>
                <select asp-for="PartSetup.PartId" class="form-control">
                    @foreach (var part in Model.PartOptions)
                    {
                        <option value="@part.Id">@part.PartType</option>
                    }
                </select>
                <span asp-validation-for="PartSetup.PartId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartSetup.SetupNote" class="control-label"></label>
                <input asp-for="PartSetup.SetupNote" class="form-control" />
                <span asp-validation-for="PartSetup.SetupNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
